{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/todo_app/"> 
  {% csrf_token %}
  {{form}}
  <input type="submit" name="Create Task">
</form>
{% for task in tasks %}
    {% if task.complete == False %}
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    {% else %}
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">  
    {% endif %}
        <div class="card-header">To-Do</div>
        <div class="card-body">
          <h6 class="card-text">{{task.created_on}}</h6>
          <br>
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text">{{task.description}}</p>
          <br>
          <a href="{% url 'update' task.id %}" class="card-link" style="color: black;">Edit</a>
          <a href="{% url 'delete' task.id %}" class="card-link" style="color: black;">Delete</a>
        </div>
      </div>
{% endfor %}
{% endblock %}
